<ion-app>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
  </style>
  
  <ion-header>
      <ion-buttons>
        <!-- Ícono de búsqueda -->
        <ion-label id="search">
          <ion-searchbar [animated]="true">
          </ion-searchbar>
        </ion-label>
      </ion-buttons>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-grid>
      <!-- Primera fila -->
      <ion-row>
        <ion-col>
          <ion-img src="assets/img/twitter.jpg"></ion-img>
          <ion-label>Twitter</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/youtube.png"></ion-img>
          <ion-label>YouTube</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/chrome.png"></ion-img>
          <ion-label>Chrome</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/pixiv.png"></ion-img>
          <ion-label>Pixiv</ion-label>
        </ion-col>
      </ion-row>

      <!-- Segunda fila -->
      <ion-row>
        <ion-col>
          <ion-img src="assets/img/pinterest.png"></ion-img>
          <ion-label>Pinterest</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/discord.png"></ion-img>
          <ion-label>Discord</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/netflix.png"></ion-img>
          <ion-label>Netflix</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/tiktok.png"></ion-img>
          <ion-label>TikTok</ion-label>
        </ion-col>
      </ion-row>

      <!-- Tercera fila -->
      <ion-row>
        <ion-col>
          <ion-img src="assets/img/twitch.png"></ion-img>
          <ion-label>Twitch</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/gallery.png"></ion-img>
          <ion-label>Gallery</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/udemy.png"></ion-img>
          <ion-label>Udemy</ion-label>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/hoyolab.png"></ion-img>
          <ion-label>HoYoLAB</ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
  
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/img/camara.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/call.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/drive.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/calcu.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/telegram.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="assets/img/message.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>